<div id="header"> 
  VacunaCheck
</div>
 {{!-- Barra de navegación --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <img src="/images/logotipo.png" style="height: 85px; width: 85px;" >
    <a class="navbar-brand"></a>
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/register">Registrarse</a>
        <a class="nav-link" href="/actualizar">Actualizar información</a>
        <a class="nav-link" href="/leerQr">Leer QR</a>
        <a class="nav-link" href="/recuperar">Recuperar QR</a>
      </div>
    </div>
  </div>
</nav>