            <div class="col">
                <h1 id="htitle">Actualiza tus datos</h1>
            </div>
        <br><br><br><br>
            <div id="imgP">
                <img src="/images/lupa.png" alt="lupa"  style="height: 280px; width:280px; padding-top: 50px; padding bottom:50px;">
            </div>
    <div class="col" id="colum">
        <h3 id="hObjetivo">Ingresa tu CURP para consultar tus datos</h3>
    </div>
    <br><br><br>
    <div class="col-md-6" id="columCon">
        <div class="col-12">
            <input type="text" class="form-control" id="inputCcurp" placeholder="CURP" required>
        </div>
    
    <br><br>
        <div class="col-12" style="padding-bottom: 105px;">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <a class="btn btn-primary" href="/" role="button">Regresar</a>
        </div>
    </div>