<div class="col">
    <h1 id="htitle">Bienvenido a VacunaCheck</h1>
    <img src="/images/logotipo.png" alt="Logotipo" id="imgLogo">
</div>
<div>
    <h3 id="hObjetivo">Error al consultar CURP en la Base de Datos/h3>
    <div id="textP">
        <p>
           ¡¡¡¡ FAVOR DE DIRIGIRSE A LA PANTALLA DE REGISTRO !!!!
        </p>
   </div>  

    <button class="btn btn-primary btn-block fa-lggradient-custom-2 mb-3" href="/register" type="button"> REGISTRARSE </button>
</div>
