<div class="col">
    <h1 id="htitle">Bienvenido a VacunaCheck</h1>
    <img src="/images/logotipo.png" alt="Logotipo" id="imgLogo">
</div>
<div>
    <h3 id="hObjetivo">Nuestro Objetivo</h3>
    <div id="textP">
        <p>
            VacunaCheck se encarga del control para evitar la 
            propagación del virus intentando apartar a las personas
            de alto riesgo de las personas con menor riesgo y así 
            sobrellevar la situación de manera eficaz y automatizada.
        </p>
   </div>  
</div>
